@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --color: #022669;
    --primary-color: rgb(145, 165, 255) ;
    /* --primary-color: #ffffff; */
    --secondary-color: rgb(130, 199, 255) ;
    /* --secondary-color: #ffffff; */
    /* --background-nav-color: #8efbff; */
    --background-nav-color: #ffffff;
    --text-color: white ;
    --active-color: rgb(158, 255, 139) ;
    --logo-color: #3284ff ;

}

*{
    margin: 0;
    padding: 0;
    /* bottom: 0; */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    background: var(--primary-color);
    /* padding-top: 40rem; */
    box-sizing: border-box;
}
nav{
    /* z-index: 99999; */
    position: fixed;
    width: 100%;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: var(--background-nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
label.logo{
    color: var(--logo-color);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav input, label {
    display: none;
}
nav ul{
    display: flex;
    width: 350px;
    /* width: calc(100% / 5); */
}
nav ul li{
    position: relative;
    list-style: none;
    width: calc(100% / 5);
    z-index: 1;
}
nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--color);
}
nav ul li.active a .icon{
    transform: translateY(-30px);
}
nav ul li a .text{
    position: absolute;
    color: var(--color);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateY(20px);
}
nav ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--secondary-color);
    border-radius: 50%;
    border: 7px solid var(--primary-color);
    transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    border-top: 0 solid transparent;
    box-shadow: 0px -10px 0 0 var(--primary-color);

}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    border-top: 0 solid transparent;
    box-shadow: 0px -10px 0 0 var(--primary-color);
    
}
nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
nav ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

.content{
    padding-bottom: 110px;
}
.content h1{
    text-align: center;
}
.content p h3{
    margin: 10px;

}
img{
    width: 100%;
    height: 20rem;
}